<div class="form wrapper col-1-4">
  <h2>Log in</h2>
  <%= form_tag '/sessions' %>
    <p><input type="text" name="email_address" placeholder="Email address"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <p><input class="button" type="submit" value="Log in"> Reset Password?</p>
  </form>
</div>



