<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>
      You have asked for your Noq.com password to be reset.
    </p>
    <p>
      Your new password is <%= @password %>
    </p>
    <p>
    Please reset once you have logged in.

    Many thanks, 

    The NoQ Team
    </p>
  </body>
</html>
