<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to the party <%= @name %>!</h1>
    <p>
      We look forward to seeing you again in 25 minutes.
    </p>
    <p>
      The NoQ Team
    </p>
  </body>
</html>