<script src="https://js.simperium.com/v0.1/"></script>
<script type="text/javascript">
  window.SIMPERIUM_APP_ID = 'measures-star-2a4';
  window.SIMPERIUM_TOKEN = '0140d03df72843718c688ac19ec2fdc4';
  window.simperium = new Simperium(window.SIMPERIUM_APP_ID, {
    token : window.SIMPERIUM_TOKEN
  });
</script>
<%= javascript_include_tag "application" %>

<script type="text/x-handlebars" data-template-name="users">
   <div class="col-1-2">
   <p>Current Queue Members:</p>
    <ol>
      {{#each user in controller}}
      <li>
        {{user.name}}: Added {{fromNow valueBinding="user.joinedQueue"}}        
        <a class="remove-underline-link" href="#" {{action removeUser user}}>x</a>
      </li>
      {{/each}}
    </ol>  
  </div>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="users/new">
  <div class="col-1-2">
    <p>New Customer:</p>
    <p> {{view Noq.NameField valueBinding="name" placeholder="name"}} </p>
    <p> {{view Noq.MobileField valueBinding="mobile" placeholder="mobile"}}</p>
    <p> {{view Noq.EmailField valueBinding="email" placeholder="email"}}</p>
    <button class="button"{{ action createUser }}>Add to queue</button>
  </div>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="users/show">
  <p>Show: {{name}}</p>
</script>

<script type="text/x-handlebars" data-template-name="users/remove">
  <p>remove: {{name}}</p>
</script>

