<script type="text/x-handlebars">
  <div class="wrapper"> 

<header role="banner">
    <nav class="main_navigation" role="primary">
      <%= "Home" %>
      <%= "Login" %>
      <%= "Register" %>
    </nav>

    <div class="wrapper">
      <h1>Noq</h1>
        {{outlet}}
    </div>
</header>

</script>

<script type="text/x-handlebars" data-template-name="users">
  <p> Add customer to queue.</p>
  <p> Confirmation Message goes here </p>
  <div class="col-1-4">
    {{#each user in model}}
      <p>
        {{#linkTo users.show user}}{{user.name}}{{/linkTo}}
        {{user.createdAt}}
        <button {{ action removeUser user }}>Remove</button>
      </p>
    {{/each}}
  </div>
  {{outlet}}
  <div class="col-2-4">
    <p> Average Wait time: 32 minutes </p>
    <p> Slot Expires after: 10 minutes</p>
    <p><IMG SRC="image.gif" ALT="graph placeholder" WIDTH=75% HEIGHT=300></p>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="users/new">
  <p>Add a User</p>
  <div class="col-1-4">
    <p> {{view Ember.TextField valueBinding="name" placeholder="name"}} </p>
    <p> {{view Ember.TextField valueBinding="mobile" placeholder="mobile"}}</p>
    <p> {{view Ember.TextField valueBinding="email" placeholder="email"}}</p>
    <button {{ action createUser }}>Save</button>
  </div>
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="users/show">
  <p>Show: {{name}}</p>
</script>

<script type="text/x-handlebars" data-template-name="users/remove">
  <p>remove: {{name}}</p>
</script>




