<script type="text/x-handlebars">
  <div class="wrapper"> 

  <nav class="main_navigation" role="primary">
    <%= "Home" %>
    <%= "Login" %>
    <%= "Register" %>
  </nav>

  <div class="wrapper">
    <h1>Noq</h1>
      {{outlet}}
  </div>

</script>

<script type="text/x-handlebars" data-template-name="users">
 
  <div class="col-1-2">
    <p> We are very busy, please join the queue.</p>
      {{#each user in model}}
        <p>
          {{#linkTo users.show user}}{{user.name}}{{/linkTo}}
           QPP  <!-- queue position placeholder -->
        </p>
      {{/each}}
    </div>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="users/new">
  <p>Add a User</p>
</script>

<script type="text/x-handlebars" data-template-name="users/show">
  <p>Show: {{name}}</p>
</script>

<script type="text/x-handlebars" data-template-name="users/edit">
  <p>Edit: {{name}}</p>
</script>