<script type="text/x-handlebars">
  <h1>Noq</h1>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="users">
  <h2>Users</h2>
  {{#each model}}
    <p>{{name}}</p>
  {{/each}}
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="users/index">
  <p>Users Index</p>
</script>

<script type="text/x-handlebars" data-template-name="users/new">
  <p>Users New</p>
</script>

<script type="text/x-handlebars" data-template-name="users/show">
  <p>Users Show</p>
</script>

<script type="text/x-handlebars" data-template-name="users/show/index">
  <p>Users Show Index</p>
</script>

<script type="text/x-handlebars" data-template-name="users/show/edit">
  <p>Users Show Edit</p>
</script>