<script type="text/x-handlebars">
  
      <h1>Noq</h1>
      {{outlet}}
   
</script>

<script type="text/x-handlebars" data-template-name="users">
  <h2>Users</h2>
    {{#each user in model}}
      <p>
        {{#linkTo users.show user}}{{user.name}}{{/linkTo}}
          [ {{#linkTo users.edit user}}edit{{/linkTo}} ]
     </p>
    {{/each}}
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="users/new">
  <p>Add a User</p>
</script>

<script type="text/x-handlebars" data-template-name="users/show">
  <p>Show: {{name}}</p>
</script>

<script type="text/x-handlebars" data-template-name="users/edit">
  <p>Edit: {{name}}</p>
</script>