<div class="form wrapper col-1-2">
  <h2>Log in</h2> 
  <%= form_tag '/sessions' %>
    <p><input type="text" name="email_address" placeholder="Email address"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <p><input class="button" type="submit" value="Log in">
    <p><%= link_to "Reset Password", reset_path %> or <%= link_to 'Sign Up Here', signup_path %></p>    
  </form>
</div>