.main_navigation {
  position: absolute;
  right: 22px;
  top: 22px;
}

header[role="banner"] {
  padding-top: 20px;
} 

input.invalid {
  border: 1px solid red;
}

input.valid {
  border: 1px solid green;
}
input:focus {
  outline: none;
}

.form {
  padding: 10px;
}

.button {
  border-radius: 5px;
}